.click-upgrade-icon {
    width: 60px;
    height: 60px;
    top: 61px;
    left: 23px;
    position: absolute;
}

.click-upgrade-icon.right-technique {
    background-image: resource('UI/Upgrade section/Click upgrades/right-technique-icon');
    position: absolute;
    top: 55px;
}

.click-upgrade-icon.meal-prep {
    background-image: resource('UI/Upgrade section/Click upgrades/meal-prep-icon');
}

.click-upgrade-icon.protein-powder {
    background-image: resource('UI/Upgrade section/Click upgrades/protein-powder-icon');
    position: absolute;
    left: 30px;
}

.click-upgrade-icon.creatine {
    background-image: resource('UI/Upgrade section/Click upgrades/creatine-icon');
}

.click-upgrade-icon.steroid {
    background-image: resource('UI/Upgrade section/Click upgrades/steroid-icon');
}

.click-upgrade-icon.training-clothes {
    background-image: resource('UI/Upgrade section/Idle upgrades/training-clothes -icon');
}

.click-upgrade-icon.gym-playlist {
    background-image: resource('UI/Upgrade section/Idle upgrades/gym-playlist-icon');
}

.click-upgrade-icon.personal-trainer {
    background-image: resource('UI/Upgrade section/Idle upgrades/personal-trainer-icon');
}

.click-upgrade-icon.vitamins {
    background-image: resource('UI/Upgrade section/Idle upgrades/vitamins-icon');
}

.click-upgrade-icon.preworkout {
    background-image: resource('UI/Upgrade section/Idle upgrades/preworkout-icon');
}

.click-upgrade-icon.insane-technique {
    background-image: resource('UI/Upgrade section/Reset upgrades/Click reset/right-technique-reset-icon');
}

.click-upgrade-icon.healthy-meal-prep {
    background-image: resource('UI/Upgrade section/Reset upgrades/Click reset/meal-prep-reset-icon');
}

.click-upgrade-icon.cool-brand-protein-powder {
    background-image: resource('UI/Upgrade section/Reset upgrades/Click reset/protein-powder-reset-icon');
    left: 30px;
}

.click-upgrade-icon.cool-brand-creatine {
    background-image: resource('UI/Upgrade section/Reset upgrades/Click reset/creatine-reset-icon');
}

.click-upgrade-icon.beast-steroid {
    background-image: resource('UI/Upgrade section/Reset upgrades/Click reset/steroid-reset-icon');
}

.click-upgrade-icon.expensive-training-clothes {
    background-image: resource('UI/Upgrade section/Reset upgrades/Idle reset/training-clothes -reset-icon');
}

.click-upgrade-icon.beast-mode-playlist {
    background-image: resource('UI/Upgrade section/Reset upgrades/Idle reset/gym-playlist-reset-icon');
}

.click-upgrade-icon.professional-personal-trainer {
    background-image: resource('UI/Upgrade section/Reset upgrades/Idle reset/personal-trainer-reset-icon');
}

.click-upgrade-icon.quality-vitamins {
    background-image: resource('UI/Upgrade section/Reset upgrades/Idle reset/vitamins-reset-icon');
}

.click-upgrade-icon.cool-brand-preworkout {
    background-image: resource('UI/Upgrade section/Reset upgrades/Idle reset/preworkout-reset-icon');
}

.click-upgrade-icon.sharpclicker {
    background-image: resource('UI/Upgrade section/Passive skills/sharpclicker-icon');
}

.click-upgrade-icon.leg-day {
    background-image: resource('UI/Upgrade section/Passive skills/leg-day-icon');
}

.click-upgrade-icon.pr-smash {
    background-image: resource('UI/Upgrade section/Passive skills/pr-smash-icon');
}

.click-upgrade-icon.adrenaline-pump {
    background-image: resource('UI/Upgrade section/Passive skills/adrenaline-pump-icon');
}

.click-upgrade-icon.muscle-brain-connection {
    background-image: resource('UI/Upgrade section/Passive skills/muscle-brain-connection-icon');
}

.click-upgrade-icon.bulk-phase {
    background-image: resource('UI/Upgrade section/Passive skills/bulk-phase-icon');
}

.click-upgrade-icon.power-nap {
    background-image: resource('UI/Upgrade section/Passive skills/power-nap-icon');
}

.click-upgrade-icon.beauty-sleep {
    background-image: resource('UI/Upgrade section/Passive skills/beauty-sleep-icon');
}

.click-upgrade-icon.recovery-on {
    background-image: resource('UI/Upgrade section/Passive skills/recovery-on-icon');
}

.click-upgrade-icon.no-time-to-waste {
    background-image: resource('UI/Upgrade section/Passive skills/no-time-to-waste-icon');
}

.click-upgrade-icon.sponsorship-deal {
    background-image: resource('UI/Upgrade section/Passive skills/sponsorship-deal-icon');
}

.click-upgrade-icon.default-icon {
    background-image: resource('UI/Welcome back/gain-icon');
}

.rank {
    width: 62px;
    height: 31px;
    position: absolute;
    left: 0;
    top: 48px;
}

.rank0 {
    background-image: resource('UI/Upgrade section/Reset upgrades/reset-rank-0');
}

.rank1 {
    background-image: resource('UI/Upgrade section/Reset upgrades/reset-rank-1');
}

.rank2 {
    background-image: resource('UI/Upgrade section/Reset upgrades/reset-rank-2');
}

.rank {
    width: 62px;
    height: 31px;
    position: absolute;
    left: 0;
    top: 48px;
}
