.skills {
    font-size: 30px;
    -unity-text-align: middle-left;
    color: rgb(255, 255, 255);
    top: 10px;
}

.upgradeButton {
    height: 100px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 25px;
    position: relative;
}

.skillNameLabel {
}

.priceLabel {
}

.upgrade-quantity-button {
    flex-grow: 1;
    flex-shrink: 1;
}